.tab {
  margin-top: 50px;
  width: 100%;
  font-size: 20px;
  font-family: "Comfortaa", cursive;
  font-weight: 600;
  color: #9d9d9d;
  border-bottom: 5px solid black;
}

.nav-link {
  color: #13161f !important;
}

.tab :hover {
  background-color: #ebeaea;
  color: #ff9900;
}

.titlecol h1 {
  margin-bottom: 10px;
  font-weight: 400;
  color: #0040ff;
  font-size: 180%;
  text-align: left;
  line-height: 50px;
  font-family: "Exo 2", sans-serif;
}

.titlecol2 h1 {
  margin-bottom: 10px;
  font-weight: 400;
  color: #0040ff;
  font-size: 180%;
  text-align: left;
  line-height: 50px;
  font-family: "Exo 2", sans-serif;
}

.titlecol {
  margin: 30px 0px 30px;
  text-align: end;
}

.titlecol2 {
  text-align: right;
}

.titlecol p {
  font-size: 16px;
  color: black;
  text-align: justify;
}
.titlecol2 p {
  font-size: 16px;
  color: black;
  text-align: justify;
}

.btnleft {
  margin: 20px 0px 20px;
  background-color: #0040ff;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.mainhead{
  display: inline-block;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 5px solid #0040ff;
}

.infoimg{
  margin-left: 50px;
}

.subtab{
  margin-top: 50px;
}
.subtab2{
  margin-top: 50px;
}

.subRow{
  margin: 70px;
}

@media only screen and (max-width: 425px) {
  .tab {
    margin-top: 20px;
    font-size: 12px;
  }

  .nav-link {
    color: #13161f !important;
  }

  .tab :hover {
    background-color: #ebeaea;
    color: #ff9900;
  }

  .titlecol h1 {
    font-size: 80%;
    margin: 0px;
    line-height: revert;
  }

  .titlecol2 h1 {
    font-size: 80%;
    margin: 0px;
    line-height: revert;
  }

  .infoimg {
    width: 140px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 5px;
  }

  .titlecol {
    margin: 0px;
  }

  .titlecol2 {
    text-align: right;
  }

  .titlecol p {
    font-size: 8px;
    margin: 10px 0px
  }
  .titlecol2 p {
    font-size: 8px;
    margin: 10px 0px
  }

  .btnleft {
    margin: 0px;
    padding: 5px;
    font-size: 8px;
  }
  .mainhead{
    font-size: 12px;
    padding-bottom: 7px;
    border-bottom: 2px solid #0040ff;
  }

  .subtab{
    font-size: 10px;
    margin-top: 10px;
  }
  .subtab2{
    font-size: 8px;
    margin-top: 10px;
  }

  .subRow{
    margin: 0px;
  }
  
}
