.headimg {
  position: relative;
  padding: 96px 30px 138px;
  background: url("https://bitcoin.org/img/hero/hero-bg.svg?1528322191") bottom
    no-repeat;
  background-size: cover;
  z-index: 10;
}

.headimg h1 {
  margin-bottom: 5px;
  font-weight: 400;
  color: #ffffff;
  font-size: 250%;
  text-align: center;
  line-height: 50px;
  font-family: "Exo 2", sans-serif;
}

.headimg p {
  margin: 0;
  font-size: 137.5%;
  color: #9d9d9d;
  text-align: center;
}

@media only screen and (max-width: 425px) {
  .headimg {
    padding: 40px 30px 60px;
  }

  .headimg h1 {
    margin-bottom: 0px;
    font-size: 130%;
  }

  .headimg p {
    font-size: 65%;
  }
}
