.headimg {
  position: relative;
  padding: 96px 30px 138px;
  background-size: cover;
  z-index: 10;
}

.headimg h1 {
  margin-bottom: 5px;
  font-weight: 400;
  color: #000000;
  font-size: 250%;
  text-align: center;
  line-height: 50px;
  font-family: "Exo 2", sans-serif;
}

.headimg p {
  margin: 0;
  font-size: 137.5%;
  color: #9d9d9d;
  text-align: center;
}

@media only screen and (max-width: 425px) {
  .headimg {
    padding: 40px 30px 60px;
  }

  .headimg h1 {
    margin-bottom: 5px;
    font-size: 99%;
    line-height: normal;
  }

  .headimg p {
    font-size: 35%;
    text-align: justify;
  }

  .headerimage{
    margin-top: 20px;
  }
}
